@import url('https://fonts.google.com/specimen/Lexend+Deca');
@import url('https://fonts.google.com/specimen/Big+Shoulders+Display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 max-width:1440px;
}

:root {
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --transparent-white: hsla(0, 0%, 100%, 0.75); /*paragraph*/
  --very-light-gray: hsl(0, 0%, 95%); /**background*, heading, button*/

  /*fonts*/



}

.App {
  width: 80%;
  height: 80vh;
  margin:50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:200px ;
  padding:100px 150px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
  
  
 



